.Cards{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.sortButton {
  background-color: #555;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  position: relative; /* Cambiamos la posición de absoluta a relativa */
  top: 20px; /* Modificamos la posición vertical */
  left: 20px;
  margin: 20px auto; /* Ajustamos el margen */
}