body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://images8.alphacoders.com/100/1003220.png");
  background-color: rgba(1, 1, 1, 2.0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 a{
  color: azure;
 }

 a:visited{
  color: azure;
 }

 a:active{
  color: orange;
 }
